#tittle{
  text-align: center;
}

.container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  
}

#registerForm{
  width: 100%;
  margin: 0 auto;
}

#tab{
  width: 70%;
  margin: 0 auto;
  text-align: left;
  background-color: mediumspringgreen;
}

#tab tr td:nth-child(1){
  width: 30%;
}

#tab tr td:nth-child(2){
  width: 70%;
}