.textbox {
    width: 200px;
}

.userInfo {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.radius{
    border: 1px solid;
    border-radius: 4px;
}

.submit{
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
