.background {
    background: #7f0019;
}

.userMoreInfo {
    color: white;
    font-size: 16px;
}

.header {
    background: #7f0019;
    color: white;
    font-size: 20px;
}

.myfont {
    color: white;
    font-size: 20px;
}

.vipInfo {
    position: relative;
    background: #7f0019;
    margin: 0px;
    padding: 5px;
    width: 100%;
    height: 80px;
}

.userPic {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 5px;
}

.levelInfo {
    position: absolute;
    top: 5px;
    left: 80px;
}

.pointInfo {
    background: #f8f8f8;
    height: 60px;
}

.pointInfo div {
    padding-top: 10px;
}

.pointInfo div a {
    color: #7f0019;
}

.righPosition {
    position: absolute;
    top: 5x;
    right: 5px;
    padding: 0px;
}

.qrCode {
    font-size: 60px;
    color: white;
}

.goldVIP {
    position: absolute;
    width: 100px;
    top: 20px;
    right: 5px;
}

.indexTable tr {
    height: 33.3333vw;
}

.indexTable tr td {
    padding-top: 20px;
}

.indexTable tr td a {
    color: #7f0019;
    font-size: 20px;
}

.badge{
  background: red;
}

.picbackground {
    background: white;
}

.cardContainer {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.discount {
  position: absolute;
  width: 100%;
  top: 10px;
}

.card {
    width: 100%;
}

.duration {
  position: absolute;
  border-top: 1px dotted white;
  width: 100%;
  height: 40%;
  bottom: 0px;
}


.progress {
    height: 15px;
}

.progress-bar{
  font-size: 10px;
}

.detailInfo {
    background: #f8f8f8;
    width: 100%;
    padding: 0px;
}

.detailList li {
    height: 40px;
    border-bottom: 1px solid #dcdcdc;
    padding: 5px;
}

.detailList li span {
    font-size: 20px;
}

.vipRule {
    background: #7f0019;
    color: white;
    font-size: 20px;
}

.pointList li {
    height: 60px;
    background: #f8f8f8;
    margin: 5px 0px;
}

.areaList {
    margin: 10px;
}

.shopList li {
    margin: 5px 0px;
    padding: 0px;
}

.notificationList{
  margin: 10px 0px;
}

.notificationList a{
  margin-left: 0px;
  margin-right: 0px;
  border-radius:0px !important;
}

.notificationContainer{
  padding: 0px;
}

.notifyImg{
  width: 100%;
}

.notifyMessage{
  padding-left: 0px;
  padding-top: 10px;
}